<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LazyDuck UI</title>
	<style>
		.box-selected {
			background: #999999
		}
	</style>
</head>
<body>
<a href="index.html">LazyDuck</a>

<div id="areaResult" class="LDArea" data-template="#templateItem"></div>

<!-- form -->
<form id="formAddListView" class="LDForm" data-before-submit="onBeforeSubmit(data)">
	<input type="text" name="name" placeholder="Name">
	<input type="text" name="price" placeholder="Price">
	<input type="text" name="list" placeholder="List">
	<input type="submit" value="add">
</form>

<div id="areaListView"></div>

<script id="templateItem" type="text/html" class="LDTemplate">
<ul id="<%= id %>">
	<li>name : <%= item.name %></li>
	<li>price : <span data-name="price"><%= item.price %></span></li>
	<select onchange="LD.onChangeOption('<%= id %>', this.value)">
		<% _.each(item.list, function(d, k) { %>
		<option value="<%= k %>"><%= d %></option>
		<% }); %>
	</select>
</ul>
</script>

<script id="templateItemListView" type="text/html" class="LDTemplate">
	<ul id="<%= id %>">
		<li>name : <%= item.name %></li>
		<li>price : <span data-name="price"><%= item.price %></span></li>
		<select onchange="LD.onChangeOption('<%= id %>', this.value)">
			<% _.each(item.list, function(d, k) { %>
			<option value="<%= k %>"><%= d %></option>
			<% }); %>
		</select>

		<button class="LDClick" data-onclick="parent.onClickDelete('<%= id %>')">Delete</button>
		<button class="LDClick" data-onclick="parent.onClickUpdate('<%= id %>')">Update</button>
	</ul>
</script>


<script type="text/javascript" src="./dependencies/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="./dependencies/underscore-min.js"></script>
<script type="text/javascript" src="./lazyduck.js"></script>
<script type="text/javascript" src="./lazyduck_ui.js"></script>
<script type="text/javascript">
	var list = [
		{
			name: 'Name one',
			price: 2000,
			list: [
				'hello', 'tv', 'video'
			]
		},
		{
			name: 'Name two',
			price: 5000,
			list: [
				'hola', 'audio'
			]
		}
	];

	$(function() {
		LD.invoke();

		renderLDArea();
//		renderGeneral();

		$("#formAddListView").submitConfirm();

		LD.listView = new LDListView();
		LD.listView.invoke($("#areaListView"), LD.templateItemListView);

		LD.listView.onClickDelete = function(id) {
			LD.listView.del(id);
		};

		LD.listView.onClickUpdate = function(id) {
			LD.listView.update(id, {name: 'update', price: '9999', list: [5, 1, 3, 4]});
		};
	});

	function renderLDArea() {
		var dataSource = LDD.list(list);
		LD.areaResult.setDataSource(dataSource);
	}

	function onBeforeSubmit(data) {
		LD.listView.add(data);
		return false;
	}


	// -- LD has getView, getValue method in it!! so you can
	// -- getView does not register its view with LD it always select whenever its called
	// -- no method to clear the value, later on if its necessary
	LD.onChangeOption = function(id, value) {
		var view = this.getView(id);
		console.log(this.getValue(id));
		view.find('[data-name="price"]').text(50000);
	};

</script>

</body>
</html>